* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

/* cabeçalho */
header {
    height: auto;
    background-color:#9370DB ;
    /* padding: 15px; */
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    flex-direction: block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-content .logo {
    max-width: 100px;
    background-color: ;
}

.header-content p {
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 0.8rem;
    /* font-weight: bolder; */
    margin-right: 10%;
    max-width: 70%;
    margin-right: 5%;
    /* line-height: 5%; */
    /* background-color: #9370DB; */
    color: #fff;
    border-radius: 10px;
    /* background-color: #9370DB; */
    /* color: #fff; */
    
}


nav {
    /* background-color: #9370DB; */
    background-color: #9370DB;
    color: #fff;
    /* color: #483D8B; */
    /* border-radius: 5px; */
    /* padding: 15px; */
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    margin: 0 15px;

}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 50px 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #FFB6C1;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.1em;
}

.animate__animated animate__fadeInUp .section-content {}

.food-type {
    background-color: #40E0D0;
}

/* inicial */
#photo-index-1,
#photo-index-2 {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    max-width: 400px;
}

.section-content .first {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.section-content #first {
    font-size: 0.8em;
    text-align: start;
    flex: 1;
}

/* contato */
input {
    border-radius: 5px;
    padding: 15px;
}

input:valid {
    color: #333;
    border: 1px solid #333;
}

input:invalid {
    color: red;
    border: red;
}

.error {
    color: #9370DB;
    font-size: 0.75rem;
    display: none;
    margin-bottom: 10px;
}

form input:invalid:not(:placeholder-shown)+.error {
    display: block;
}

.section-content p,
h1,
h2,
h3,
h4 {
    text-align: center;
}

.section-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}



.social-links .whatsapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.social-links .others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.social-links img {
    width: 50px;
}

.social-links .others .social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between; */
}

form {
    background-color: #40E0D0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
}

form label,
form textarea,
form input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

form textarea {
    height: 150px;
}

form button {
    background-color: #9370DB;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
}

form button:hover {
    background-color: #6A5ACD;
}

form button:active {
    background-color: #483D8B;
}

/* galeria removida */
/* #galeria {
    background-color: #40E0D0;
    padding: 50px 20px;
    border-radius: 8px;
} */

/* cardápio */
#cardapio .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: start;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    /* margin-top: 0px; */
    /* margin-bottom: 30px; */
    padding-left: 0px;
}

#cardapio ul {
    display: flex;
    flex-direction: column;
}

#cardapio img {
    max-width: 500px;
}

footer {
    background-color: #9370DB;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.7rem;
}

@media (max-width:576px) {

    /* Cardapio */
    #cardapio {
        transform: translatex(0px) translatey(0px);
    }

    /* Body */
    body {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        flex-wrap: nowrap;
    }

    /* Main */
    main {
        display: inline-block;
    }



    nav a {
        margin: 0 10px;
        font-size: 1em;
    }

    .menu-icon {
        display: block;
        /* Exibe o ícone de menu em telas pequenas */
        cursor: pointer;
    }

    /* Section content */
    #cardapio .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: start;
        font-size: 28px;
        font-family: 'Roboto Condensed', sans-serif;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-left: 0px;
    }

    /* List */
    #cardapio .section-content>ul {
        max-width: 100%;
    }

    /* List Item */
    #cardapio ul>li {
        max-width: 100%;
    }

    /* Image */
    #cardapio ul li>img {
        max-width: 100%;
    }

    /* form */
    form button {
        margin: 0;
        /* Remover a margem automática */
        padding: 10px 20px;
        /* Reduzir o preenchimento */
    }

    footer {
        display: flex;
        line-height: 12.5px;
        justify-content: center;
    }

    .footer-content {
        font-size: 0.5rem;
        text-align: center;
    }
}