* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column; */

}

p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #e74c3c;
}

img {
    max-width: 100%;
}

/* cabeçalho */
header {
    position: fixed;
    top: 0;
    margin-bottom: 15px;
    border-bottom: 5px solid #fff;
    width: 100%;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

header h1 {
    color: #e74c3c;
    font-family: cursive;
    font-size: 1rem;
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.header-content .logo {
    max-width: 50px;
}

.header-content p {
    font-size: 0.8rem;
    margin-right: 10%;
    max-width: 70%;
    color: #fff;
    border-radius: 10px;
}



nav .nav-content {
    background-color: #e74c3c;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1em;
}

nav a:hover {
    /* text-decoration: underline; */
    color: #333;
    /* Cor de destaque no hover */
    transform: scale(1.1);
    /* Efeito de escala ao passar o mouse */
}

main {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 100px;
    /* padding-top: 100px; */
}

section {
    margin-top: 80px;
    padding: 15px;
}

h2 {
    color: #333;
    font-family: cursive;
    /* font-size: 2rem; */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    /* background-color: #f60; */
    /* border: 3px solid orange; */
    /* margin-bottom: 10px; */
    padding: 5px;
    border-radius: 8px;
    font-size: 0.9em;
}

/* cardápio */

#cardapio {
    background-color: #fff;
}

/* #cardapio .section-content {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: start;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
} */
/* 
#cardapio ul {
    display: flex;
    flex-direction: column;
} */

#cardapio .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 100%;
}

#cardapio li {
    border: 1px solid #e74c3c;
    background-color: #e74c3c;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#cardapio img {
    max-width: 100%;
}


/* contato */
input {
    border-radius: 5px;
    padding: 15px;
}

input:valid {
    color: #333;
    border: 1px solid #333;
}

input:invalid {
    color: red;
    border: red;
}

.error {
    color: #333;
    font-size: 0.75rem;
    display: none;
    margin-bottom: 10px;
}

form input:invalid:not(:placeholder-shown)+.error {
    display: block;
}

.section-content p,
h1,
h2,
h3,
h4 {
    text-align: start;
}

.section-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.social-links .whatsapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.social-links .others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.social-links img {
    width: 50px;
}

.social-links .others .social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

form {
    background-color: #f60;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
}

form label,
form textarea,
form input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

form textarea {
    height: 150px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
}

form button:hover {
    background-color: #555;
}

form button:active {
    background-color: #37363a;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
}

footer p {
    font-size: 0.7rem;
    color: #fff;
}

@media (max-width: 576px) {

    /* header */


    header h1 {
        font-size: 0.8rem;
    }

    .header-content {
        justify-content: center;
    }

    /* #cardapio .container {
        display: flex;
        flex-direction: column;
    } */

    #cardapio ul li img {
        max-width: 100%;
    }

    /* form */
    form button {
        margin: 0;
        padding: 10px 20px;
    }


}


/* @media (min-width: 577px) {
    #cardapio ul li {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 15px;
        
    }
} */

@media  (min-width: 900px) {
    #cardapio .container {
        display: flex;
        justify-content: center;
    }

}
    
